<div class="uk-height-large uk-background-cover uk-light uk-flex" style="background-image: url('https://www.golfchannel.com/sites/default/files/video/thumbnail/2017/10/16/a4bdb58d1d894afbaea788562060f3c61508205894767_7000k_1920x1080_1074747971877_0.jpg');">
  <div class="uk-padding">
    <dl class="uk-description-list">
      <dd><strong>US OPEN</strong></dd>
      <dd>The United States Open Championship, commonly known as the U.S. Open, is the annual open national championship of golf in the United States. It is the second of the four major championships in golf, and is on the official schedule of both the PGA Tour and the European Tour.</dd>
    </dl>
    <div class="uk-grid-small" uk-grid uk-countdown="date: 2018-06-14T12:00:25+00:00">
      <div>
        <div class="uk-countdown-number uk-countdown-days"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>
      </div>
      <div class="uk-countdown-separator">:</div>
      <div>
        <div class="uk-countdown-number uk-countdown-hours"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
      </div>
      <div class="uk-countdown-separator">:</div>
      <div>
        <div class="uk-countdown-number uk-countdown-minutes"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
      </div>
      <div class="uk-countdown-separator">:</div>
      <div>
        <div class="uk-countdown-number uk-countdown-seconds"></div>
        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>
      </div>
    </div>
  </div>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum massa eget placerat rutrum. Fusce venenatis sit amet velit elementum feugiat. Praesent faucibus a odio et imperdiet. Etiam id nulla lorem. Nulla sollicitudin sodales nibh, at commodo sapien consequat ac. Vestibulum neque massa, dignissim id ultrices et, pulvinar vel magna. Maecenas fringilla ultricies felis ut viverra. In tincidunt ante ac augue ullamcorper, eu tempor ex tincidunt. Cras vulputate odio a sem fermentum, vitae iaculis justo mollis. Nam orci sapien, laoreet dapibus ex ut, efficitur euismod nisi. Phasellus odio risus, porttitor nec justo sed, egestas sagittis libero. Aliquam at pulvinar velit, vel dignissim mi.</p>
<p>Suspendisse efficitur enim vitae rhoncus euismod. In dictum ex a arcu vehicula tempus. Suspendisse potenti. Mauris imperdiet vel enim a imperdiet. Nullam vitae erat sed nisi dapibus semper ut a sapien. Maecenas mattis sed leo condimentum dignissim. Integer egestas auctor magna, ut ultricies nunc commodo eu. Fusce facilisis eu libero at tempor. Nulla porttitor lacus ante, sed convallis augue varius ac. Vestibulum fringilla nec massa in auctor. Etiam eu eros eget velit lobortis pellentesque nec vitae metus. Praesent placerat et diam id feugiat.</p>