<div class="column">
<div class="parallax">
  <div class="parallax-top-left" tabindex="1"></div>
  <div class="parallax-top-right" tabindex="2"></div>
  <div class="parallax-bottom-left" tabindex="3"></div>
  <div class="parallax-bottom-right" tabindex="4"></div>
  <div class="parallax-content">
    <div class="parallax-front">
      <h2>Next Tournament: US OPEN</h2>
    </div>
    <div class="parallax-back">
      <img src="https://images.unsplash.com/photo-1518288768521-88bdd4f43646?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bfdd7cd5ae388e5dc7c03752fc1b94c2&auto=format&fit=crop&w=1351&q=80" class="img-responsive rounded" ...>
    </div>
  </div>
</div>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum massa eget placerat rutrum. Fusce venenatis sit amet velit elementum feugiat. Praesent faucibus a odio et imperdiet. Etiam id nulla lorem. Nulla sollicitudin sodales nibh, at commodo sapien consequat ac. Vestibulum neque massa, dignissim id ultrices et, pulvinar vel magna. Maecenas fringilla ultricies felis ut viverra. In tincidunt ante ac augue ullamcorper, eu tempor ex tincidunt. Cras vulputate odio a sem fermentum, vitae iaculis justo mollis. Nam orci sapien, laoreet dapibus ex ut, efficitur euismod nisi. Phasellus odio risus, porttitor nec justo sed, egestas sagittis libero. Aliquam at pulvinar velit, vel dignissim mi.</p>
<p>Suspendisse efficitur enim vitae rhoncus euismod. In dictum ex a arcu vehicula tempus. Suspendisse potenti. Mauris imperdiet vel enim a imperdiet. Nullam vitae erat sed nisi dapibus semper ut a sapien. Maecenas mattis sed leo condimentum dignissim. Integer egestas auctor magna, ut ultricies nunc commodo eu. Fusce facilisis eu libero at tempor. Nulla porttitor lacus ante, sed convallis augue varius ac. Vestibulum fringilla nec massa in auctor. Etiam eu eros eget velit lobortis pellentesque nec vitae metus. Praesent placerat et diam id feugiat.</p>
</div>